.idea
node_modules
app/obsolete
public/vendor/angular/*
/public/vendor/angular-route/*
/public/vendor/bootstrap/LICENSE
/public/vendor/bootstrap/Gemfile
/public/vendor/bootstrap/sache.json
/public/vendor/bootstrap/README.md
/public/vendor/bootstrap/package.json
/public/vendor/bootstrap/Gemfile.lock
/public/vendor/bootstrap/bower.json
/public/vendor/bootstrap/Gruntfile.js
/public/vendor/bootstrap/CHANGELOG.md
/public/vendor/bootstrap/.bower.json
/public/vendor/bootstrap/package.js
public/vendor/bootstrap/dist/css/*
public/vendor/bootstrap/dist/js/*
/public/vendor/font-awesome/bower.json
/public/vendor/font-awesome/HELP-US-OUT.txt
/public/vendor/font-awesome/.gitignore
/public/vendor/font-awesome/.bower.json
/public/vendor/font-awesome/.npmignore
/public/vendor/font-awesome/scss
/public/vendor/font-awesome/less
/public/vendor/font-awesome/fonts
/public/vendor/font-awesome/css/*
/public/vendor/bootstrap/nuget
/public/vendor/bootstrap/js
/public/vendor/bootstrap/grunt
/public/vendor/bootstrap/scss
/public/vendor/jquery/dist/*
/public/vendor/jquery/src
/public/vendor/mongoose/examples
/public/vendor/mongoose/docs
/public/vendor/mongoose/benchmarks
!/.gitignore
!/public/vendor/angular/angular.min.js
!/public/vendor/angular-route/angular-route.min.js
!/public/vendor/bootstrap/dist/css/bootstrap.min.css
!/public/vendor/bootstrap/dist/js/bootstrap.min.js
!/public/vendor/font-awesome/css/font-awesome.min.css
!/public/vendor/jquery/dist/jquery.min.js