.idea
node_modules
app/obsolete
public/vendor/*
!public/vendor/angular/angular.min.js
!public/vendor/bootstrap/dist/css/bootstrap.min.css
!public/vendor/font-awesome/css/font-awesome.min.css
!public/vendor/jquery/dist/jquery.min.js