.navbar-fixed-top {
    background-color: darkolivegreen;
}

form input {
    margin-left: 20px;
}

body {
    padding-top:80px;
    /*height:2000px;*/
    background-image: url("../saturday_warmth.png");
    background-repeat: repeat;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: auto;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.thumbnail img {
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 2px;
}

/*.spin {*/
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
/*}*/

@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg); }
    10% { -webkit-transform: rotate(9deg); }
    20% { -webkit-transform: rotate(18deg); }
    30% { -webkit-transform: rotate(27deg); }
    40% { -webkit-transform: rotate(36deg); }
    50% { -webkit-transform: rotate(45deg); }
    60% { -webkit-transform: rotate(54deg); }
    70% { -webkit-transform: rotate(63deg); }
    80% { -webkit-transform: rotate(72deg); }
    90% { -webkit-transform: rotate(81deg); }
    100% { -webkit-transform: rotate(90deg); }
}

@-webkit-keyframes rotateBackwards {
    0% { -webkit-transform: rotate(90deg); }
    10% { -webkit-transform: rotate(81deg); }
    20% { -webkit-transform: rotate(72deg); }
    30% { -webkit-transform: rotate(63deg); }
    40% { -webkit-transform: rotate(54deg); }
    50% { -webkit-transform: rotate(45deg); }
    60% { -webkit-transform: rotate(36deg); }
    70% { -webkit-transform: rotate(27deg); }
    80% { -webkit-transform: rotate(18deg); }
    90% { -webkit-transform: rotate(9deg); }
    100% { -webkit-transform: rotate(0deg); }
}

.spin {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.spinBackwards {
    -webkit-animation-name: rotateBackwards;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.others {
    background-color:lemonchiffon;
}
.highlight {
    background-color: darkorange;
}

.accordion_item_correction {
    padding: 0 0 0 30px;
}
/* margin: -7% -6% -7% 0%*/

.accordion_standalone {
    padding-left: 1.2em;
}

.toast-top-right {
    top: 160px;
}

/* register */
.scroll {
    height: 200px;
    width: 80%;
    overflow-y: scroll;
    border: 2px solid #666;
    background-color: #ccc;
    padding: 8px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.hidden {
    display: none;
}