nav {
    background-color: darkolivegreen;
}

form input {
    margin-left: 20px;
}

body {
    padding-top:80px;
    /*height:2000px;*/
    background-image: url("../office.png");
    background-repeat: repeat;
}

.thumbnail img {
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 2px;
}

.scroll {
    height: 200px;
    width: 300px;
    overflow: auto;
    border: 2px solid #666;
    background-color: #ccc;
    padding: 8px;
}