#main.container-fluid
    .col-md-12.col-lg-12
        .card.card-block
            div(align="center")
                img(src="404error.png")
            div(align="right")
                a(href="/") < Return