html
    body
        .card.card-default.card-block(align='center', style='background-color: sienna;')
            .btn-group.btn-group-lg(role='group')
                //a(href="submit")
                a.btn.btn-lg.btn-info(type='button' href="submit")
                    i.fa.fa-magic
                    |  New item
                //a(href="current")
                a.btn.btn-lg.btn-success(type='button' href="current")
                    i.fa.fa-lg.fa-spinner.fa-pulse
                    |  Ongoing donation/requests
                //location.href="search"
                //a(href="search")
                a.btn.btn-lg.btn-warning(type='button' href="search")
                    i.fa.fa-file-text-o
                    |  Past records