html
    body
        #collapsingNavbar.collapse.navbar-toggleable-xs
            ul.nav.navbar-nav.pull-right
                li.nav-item
                    #thumbs.thumbnail.nav-link
                        img(src='avatar-display.png', alt='30x30', style='width: 30px; height: 30px;')
                        | ,
                        strong User1337
                        | .
                li.nav-item
                    .nav-link
                        strong EN
                li.nav-item
                    .nav-link |
                li.nav-item
                    a.nav-link(href='#') 中文
                li.nav-item
                    a.nav-link(href='#')
                        i.fa.fa-sign-out.fa-lg
                        |  Log out
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button')
                        i.fa.fa-cog.fa-lg.fa-spin
                        |  Settings
                    .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='#') Profile settings
                        a.dropdown-item(href='#') Donate/Receive records
                        .dropdown-divider
                        a.dropdown-item(href='#') Help