html
    body
        nav.navbar.navbar-fixed-top.navbar-dark
            button.navbar-toggler.hidden-sm-up.pull-lg-right(type='button', data-toggle='collapse', data-target='#collapsingNavbar')
                | ☰
            a.navbar-brand(href='/') Bountiful
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#') Home
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button') Button
                    .dropdown-menu
                        a.dropdown-item(href='#') Dropdown Link 1
                        a.dropdown-item(href='#') Dropdown Link 2
                        a.dropdown-item(href='#') Dropdown Link 3
                li.nav-item
                    a.nav-link(data-target='#myModal', data-toggle='modal') Button
            div(ng-include="'partials/nav'")
            form.form-inline(role='search')
                input.form-control(type='search', placeholder='Insert keywords or hashtag...', style='width: 20%')
                button.btn.btn-primary(type='submit') Search