html
    body
        #sidebar.col-md-4.col-lg-3.sidebar-offcanvas(role='navigation')
            .card.card-inverse(style='background-color: #333; border-color: #333;')
                .card-block
                    h3.card-title
                        i.fa.fa-search
                        |  Advanced search
                    .checkbox.card-text
                        label
                            input(type='checkbox', value='', checked='checked')
                            i.fa.fa-keyboard-o.fa-fw
                            |  Search by keyword or #hashtag
                        input.form-control(type='search', placeholder='Insert keywords or hashtag...')
                    .checkbox.card-text
                        label
                            input(type='checkbox', value='', checked='checked')
                            i.fa.fa-sitemap.fa-fw
                            |  Search by category
                        #accordion(role='tablist', aria-multiselectable='true')
                            .card
                                #headingOne.card-header(role='tab', style='background-color:lemonchiffon;')
                                    a(data-toggle='collapse', data-parent='#accordion', aria-expanded='true', aria-controls='collapseOne', href='#collapseOne', ng-click="turn('#chevron1')")
                                        i#chevron1.fa.fa-chevron-right.fa-lg
                                        i.fa.fa-fort-awesome
                                        |                                 Back to School
                                #collapseOne.card-block.collapse.accordion_item_correction(role='tabpanel', aria-labelledby='headingOne')
                                    div(ng-repeat='subsubcat_1 in subcat_1')
                                        .card-header.others(role='tab', id='{{subsubcat_1.tag}}')
                                            a(href='#', ng-click="highlightString('#'+subsubcat_1.tag)") {{subsubcat_1.title}}
                                #headingTwo.card-header(role='tab', style='background-color:lemonchiffon;')
                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo', ng-click="turn('#chevron2')")
                                        i#chevron2.fa.fa-chevron-right.fa-lg
                                        i.fa.fa-book.fa-fw
                                        |                                 Books and Periodicals
                                #collapseTwo.card-block.collapse.accordion_item_correction(role='tabpanel', aria-labelledby='headingTwo')
                                    div(ng-repeat='subsubcat in subcat_2')
                                        .card-header.others(role='tab', id='{{subsubcat.tag}}')
                                            a(href='#', ng-click="highlightString('#'+subsubcat.tag)") {{subsubcat.title}}
                                #headingThree.card-header.others(role='tab')
                                    a.collapsed.accordion_standalone(data-toggle='collapse', data-parent='#accordion', href='#', ng-click="highlightString('#headingThree')")
                                        i.fa.fa-ticket.fa-fw
                                        |  Coupons
                                #headingFour.card-header.others(role='tab')
                                    a.collapsed.accordion_standalone(data-toggle='collapse', data-parent='#accordion', href='#', ng-click="highlightString('#headingFour')")
                                        i.fa.fa-puzzle-piece.fa-fw
                                        |  Toys
                                #headingFive.card-header.others(role='tab')
                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive', ng-click="turn('#chevron5')")
                                        i#chevron5.fa.fa-chevron-right.fa-lg
                                        i.fa.fa-music.fa-fw
                                        |  Music
                                #collapseFive.card-block.collapse.accordion_item_correction(role='tabpanel', aria-labelledby='headingFive')
                                    div(ng-repeat='cat in subcat_5')
                                        .card-header.others(role='tab', id='{{cat.tag}}')
                                            a(href='#', ng-click="highlightString('#'+cat.tag)") {{cat.title}}
                                #headingSix.card-header.others(role='tab')
                                    a.collapsed.accordion_standalone(data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix', ng-click="highlightString('#headingSix')")
                                        i.fa.fa-mobile.fa-fw
                                        |  Electronics & Accessories
                                #collapseSix.card-block.collapse(role='tabpanel', aria-labelledby='headingSix')
                                    p(style='color: black') Placeholder
                    .checkbox.card-text
                        label
                            input(type='checkbox', value='', checked='checked')
                            i.fa.fa-map-marker.fa-fw
                            |  Search by location
                        div(ng-include="'partials/gmap'")
                        br
                        a.btn.btn-outline-secondary(href='#', onclick="toastr.info('Thanks for dropping by, but I am not done yet');") Search
            .card.card-inverse(style='background-color: firebrick; border-color: firebrick;')
                .card-block
                    h3.card-title
                        i.fa.fa-heart
                        |  Charity of the day
                    h5.card-title Yard of Environmental Sustainability
                    img(src='https://www.cpr.cuhk.edu.hk/resources/press/photo/4ec63900474ef.jpg', width='100%')
                    p.card-text
                        | The Yard for Environmental Sustainability (YES) is located next to Y. C. Liang
                        | Hall, CUHK. It was opened to promote the re-use or recycling of electrical appliances, fabrics,
                        | banners, toys, books, glass and plastic goods.
                    p.card-text
                        | It consists of seven huts designed by EMO and built with dead wood and waste
                        | materials. Interested staff and students can visit the huts to drop off or pick up items that
                        | can still be reused. Items collected will also be given to NGOs or recycling companies for reuse
                        | or recycling. Materials will be recycled only when reuse is not ideal or feasible.
                    a.btn.btn-outline-secondary(href='#') Learn more