extends ../includes/layout

//block more-scripts
    //script(src="euromaidan/ng-table.min.js")
    //link(rel="stylesheet", href="euromaidan/ng-table.min.css")

block main-content
    include accounts_plain.html
    include footer