<html ng-app="app"><head><link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/><link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/><link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/><link rel="stylesheet" href="vendor/toastr/toastr.min.css"/><link rel="stylesheet" href="css/main_page.css"/><title>ThreeOneOhOh Main Page</title><meta charset="utf-8"/><meta name="description" content="The main page of our CSCI3100 project."/><script src="vendor/angular/angular.min.js"></script><script src="vendor/angular-route/angular-route.min.js"></script><script src="vendor/jquery/dist/jquery.min.js"></script><script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script><script src="vendor/toastr/toastr.min.js"></script><script src="app.js"></script><script src="mvNavbarController.js"></script><script>toastr.options.closeButton = true;
toastr.options.newestOnTop = true;</script></head><body onload="initMap()"><nav class="navbar navbar-fixed-top navbar-dark">
    <button class="navbar-toggler hidden-sm-up pull-lg-right" type="button" data-toggle="collapse"
            data-target="#collapsingNavbar">
        ☰
    </button>
    <a class="navbar-brand" href="#">Project ThreeOneOhOh</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Button</a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Dropdown Link 1</a>
                <a class="dropdown-item" href="#">Dropdown Link 2</a>
                <a class="dropdown-item" href="#">Dropdown Link 3</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-target="#myModal" data-toggle="modal">Button</a>
        </li>
    </ul>
    <div ng-include="'partials/nav'"></div>
    <form class="form-inline" role="search">
        <input type="search" class="form-control" placeholder="Insert keywords or hashtag..." style="width: 20%">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</nav>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-4 col-lg-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <div class="card-block">
                    <h3 class="card-title"><i class="fa fa-search"></i> Advanced search</h3>

                    <div class="checkbox card-text">
                        <label>
                            <input type="checkbox" value="" checked="checked">
                            <i class="fa fa-keyboard-o fa-fw"></i> Search by keyword or #hashtag
                        </label>
                        <input type="search" class="form-control" placeholder="Insert keywords or hashtag...">
                    </div>
                    <div class="checkbox card-text">
                        <label>
                            <input type="checkbox" value="" checked="checked">
                            <i class="fa fa-sitemap fa-fw"></i> Search by category
                        </label>

                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne"
                                     style="background-color:darkorange;">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="true" aria-controls="collapseOne"
                                       href="javascript:turn()">
                                        <i id="caretOne"></i> <i class="fa fa-fort-awesome"></i>
                                        Back to School
                                    </a>
                                </div>
                                <script type="text/javascript">
                                    function turn() {
                                        getElementById('caretOne').toggleClass('fa fa-caret-right fa-lg').toggleClass('fa fa-caret-down fa-lg');
                                    }
                                </script>
                                <div id="collapseOne" class="card-block collapse" role="tabpanel"
                                     aria-labelledby="headingOne" style="background-color:orange;">
                                    <ul>
                                        <li>Books and Periodicals
                                            <ul>
                                                <li>123</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-header" role="tab" id="headingTwo"
                                     style="background-color:lemonchiffon;">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa fa-chevron-right fa-lg fa-rotate-90"></i> <i class="fa fa-book"></i>
                                        Books and
                                        Periodicals
                                    </a>
                                </div>
                                <div id="collapseTwo" class="card-block collapse" role="tabpanel"
                                     aria-labelledby="headingTwo" style="padding: 0px 0px 0px 30px">
                                    <!--margin: -7% -6% -7% 0%-->
                                    <div ng-repeat="subsubcat in subcat_2=[{tag: 'books0', title: 'Fiction'},{tag: 'books1', title: 'Arts'},{tag: 'books2', title:'Cookbooks'}, {tag: 'books3', title: 'Science'}, {tag: 'books4', title: 'Computer Science'}, {tag: 'books5', title: 'Sociology'}, {tag: 'books6', title: 'Engineering'},  {tag: 'books7', title: 'Politics'}, {tag: 'books8', title: 'Religion & Spirituality'}, {tag: 'books9', title: 'Philosophy'}, {tag: 'books10', title: 'Law'}, {tag: 'books11', title: 'Metaphysics'},{tag: 'books12', title: 'Lifestyle'}, {tag: 'books13', title: 'History, Biographies & Memoirs'}, {tag: 'books14', title: 'Reference works'}, {tag: 'books15', title: 'Periodicals'}]">
                                        <div class="card-header" role="tab" id="heading{{subsubcat.tag}}"
                                             style="background-color:lemonchiffon;">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                               href="#{{subsubcat.tag}}"
                                               aria-expanded="false" aria-controls="collapseTwoOne">
                                                <i class="fa fa-caret-right fa-lg"></i> {{subsubcat.title}}
                                            </a>
                                        </div>
                                        <div id="{{subsubcat.tag}}" class="card-block collapse" role="tabpanel"
                                             aria-labelledby="heading{{subsubcat.tag}}">
                                            <p style="color: black">Placeholder</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header" role="tab" id="headingThree"
                                     style="background-color:lemonchiffon;">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="fa fa-circle"></i> <i class="fa fa-ticket"></i> Coupons
                                    </a>
                                </div>
                                <div id="collapseThree" class="card-block collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <p style="color: black">Placeholder</p>
                                </div>
                                <div class="card-header" role="tab" id="headingFour"
                                     style="background-color:lemonchiffon;">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <i class="fa fa-circle"></i> <i class="fa fa-puzzle-piece"></i> Toys
                                    </a>
                                </div>
                                <div id="collapseFour" class="card-block collapse" role="tabpanel"
                                     aria-labelledby="headingFour">
                                    <p style="color: black">Placeholder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox card-text">
                        <label>
                            <input type="checkbox" value="" checked="checked">
                            <i class="fa fa-map-marker fa-fw"></i> Search by location
                        </label>

                        <div id="map" style="height: 400px;"></div>
                        <script type="text/javascript">
                            var map;
                            function initMap() {
                                var mapDiv = document.getElementById('map');
                                map = new google.maps.Map(mapDiv, {
                                    center: {lat: 22.419468, lng: 114.206620},
                                    zoom: 14,
                                    maxZoom: 15,
                                    minZoom: 11,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    streetViewControl: false,
                                    mapTypeControl: true,
                                    mapTypeControlOptions: {
                                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                                        mapTypeIds: [
                                            google.maps.MapTypeId.ROADMAP,
                                            google.maps.MapTypeId.HYBRID
                                        ]
                                    }
                                });
                                var cuhkCoords = [
                                    {lat: 22.422215, lng: 114.200100},
                                    {lat: 22.423921, lng: 114.200636},
                                    {lat: 22.425825, lng: 114.203340},
                                    {lat: 22.428460, lng: 114.203255},
                                    {lat: 22.426736, lng: 114.206203},
                                    {lat: 22.425903, lng: 114.205795},
                                    {lat: 22.425430, lng: 114.208416},
                                    {lat: 22.423466, lng: 114.211495},
                                    {lat: 22.422097, lng: 114.212579},
                                    {lat: 22.419301, lng: 114.213231},
                                    {lat: 22.416413, lng: 114.212327},
                                    {lat: 22.414876, lng: 114.210879},
                                    {lat: 22.413319, lng: 114.210600},
                                    {lat: 22.412982, lng: 114.211887},
                                    {lat: 22.412278, lng: 114.211780},
                                    {lat: 22.412655, lng: 114.208143},
                                    {lat: 22.413506, lng: 114.207086},
                                    {lat: 22.414046, lng: 114.207614},
                                    {lat: 22.422032, lng: 114.200031}
                                ];
                                var maOnShan = [
                                    {lat: 22.405580, lng: 114.220763},
                                    {lat: 22.407128, lng: 114.219090},
                                    {lat: 22.409240, lng: 114.220477},
                                    {lat: 22.410755, lng: 114.221205},
                                    {lat: 22.412256, lng: 114.221630},
                                    {lat: 22.415608, lng: 114.222464},
                                    {lat: 22.419507, lng: 114.223481},
                                    {lat: 22.421233, lng: 114.223936},
                                    {lat: 22.422074, lng: 114.224209},
                                    {lat: 22.422944, lng: 114.224664},
                                    {lat: 22.424052, lng: 114.225226},
                                    {lat: 22.425202, lng: 114.225954},
                                    {lat: 22.426043, lng: 114.226546},
                                    {lat: 22.427881, lng: 114.228230},
                                    {lat: 22.428273, lng: 114.231295},
                                    {lat: 22.427148, lng: 114.233612},
                                    {lat: 22.427114, lng: 114.233788},
                                    {lat: 22.426994, lng: 114.233860},
                                    {lat: 22.427189, lng: 114.233815},
                                    {lat: 22.427410, lng: 114.233603},
                                    {lat: 22.427594, lng: 114.233265},
                                    {lat: 22.427790, lng: 114.233495},
                                    {lat: 22.427890, lng: 114.233761},
                                    {lat: 22.427836, lng: 114.234117},
                                    {lat: 22.428553, lng: 114.234988},
                                    {lat: 22.428682, lng: 114.234848},
                                    {lat: 22.428761, lng: 114.234943},
                                    {lat: 22.428616, lng: 114.235101},
                                    {lat: 22.430667, lng: 114.237338},
                                    {lat: 22.431063, lng: 114.238511},
                                    {lat: 22.432256, lng: 114.239002},
                                    {lat: 22.433252, lng: 114.239034},
                                    {lat: 22.434482, lng: 114.238592},
                                    {lat: 22.434486, lng: 114.238254},
                                    {lat: 22.435070, lng: 114.237401},
                                    {lat: 22.435762, lng: 114.236941},
                                    {lat: 22.436300, lng: 114.237040},
                                    {lat: 22.436479, lng: 114.237595},
                                    {lat: 22.436900, lng: 114.237942},
                                    {lat: 22.437021, lng: 114.238673},
                                    {lat: 22.437063, lng: 114.239445},
                                    {lat: 22.436934, lng: 114.239968},
                                    {lat: 22.437163, lng: 114.240541},
                                    {lat: 22.437338, lng: 114.240672},
                                    {lat: 22.437430, lng: 114.241822},
                                    {lat: 22.436837, lng: 114.243329},
                                    {lat: 22.435657, lng: 114.244768},
                                    {lat: 22.433910, lng: 114.244854},
                                    {lat: 22.433168, lng: 114.244136},
                                    {lat: 22.432392, lng: 114.243965},
                                    {lat: 22.431066, lng: 114.245016},
                                    {lat: 22.430754, lng: 114.245864},
                                    {lat: 22.432234, lng: 114.247073},
                                    {lat: 22.432872, lng: 114.249563},
                                    {lat: 22.432805, lng: 114.255301},
                                    {lat: 22.429828, lng: 114.256875},
                                    {lat: 22.427968, lng: 114.253600},
                                    {lat: 22.427451, lng: 114.249189},
                                    {lat: 22.429140, lng: 114.247529},
                                    {lat: 22.428027, lng: 114.245404},
                                    {lat: 22.424228, lng: 114.241562},
                                    {lat: 22.422098, lng: 114.237426},
                                    {lat: 22.417571, lng: 114.232834},
                                    {lat: 22.415390, lng: 114.229917},
                                    {lat: 22.414364, lng: 114.228011},
                                    {lat: 22.413580, lng: 114.227749},
                                    {lat: 22.412850, lng: 114.226532},
                                    {lat: 22.407797, lng: 114.223337},
                                    {lat: 22.407093, lng: 114.224528},
                                    {lat: 22.405427, lng: 114.224993},
                                    {lat: 22.402149, lng: 114.226734},
                                    {lat: 22.403396, lng: 114.224574},
                                    {lat: 22.403829, lng: 114.223288},
                                    {lat: 22.404180, lng: 114.222553},
                                    {lat: 22.404722, lng: 114.221912}
                                ];
                                var cuhk = new google.maps.Polygon({
                                    paths: cuhkCoords,
                                    strokeColor: '#69246B',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 5,
                                    fillColor: '#FF4500',
                                    fillOpacity: 0.15
                                });
                                cuhk.setMap(map);
                                var mos = new google.maps.Polygon({
                                    paths: maOnShan,
                                    strokeColor: '#962714',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 5,
                                    fillColor: '#962714',
                                    fillOpacity: 0.15
                                });
                                mos.setMap(map);
                                var image = "gift_marker.png"
                                var marker = new google.maps.Marker({
                                    position: {lat: 22.419468, lng: 114.206620},
                                    map: map,
                                    draggable: true,
                                    title: "Test",
                                    icon: image
                                });
                                marker.addListener('dragend', function () {
                                    if (google.maps.geometry.poly.containsLocation(marker.getPosition(), cuhk)) {
                                        document.getElementById("area").innerHTML = "Neighbourhood: CUHK";
                                    } else if (google.maps.geometry.poly.containsLocation(marker.getPosition(), mos)) {
                                        document.getElementById("area").innerHTML = "Neighbourhood: Ma On Shan";
                                    } else {
                                        document.getElementById("area").innerHTML = "Neighbourhood: Not currently supported";
                                    }
                                    var markLat = marker.getPosition().lat().toString();
                                    var markLng = marker.getPosition().lng().toString();
                                    document.getElementById("coords").innerHTML = "(".concat(markLat, ", ", markLng, ")");
                                });
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEPe62lfwgD8zFH2o7rzFdVmpkbiJFOwc&sensor=FALSE"
                                async defer></script>
                        <p id="coords" class="text-lg-center">Drag the marker!</p>
                        <p id="area" class="text-lg-center"></p>
                        <br><a href="#" class="btn btn-outline-secondary"
                               onclick="toastr.info('Thanks for dropping by, but I am not done yet');">Search</a>
                    </div>
                </div>
            </div>
            <div class="card card-inverse" style="background-color: firebrick; border-color: firebrick;">
                <div class="card-block">
                    <h3 class="card-title"><i class="fa fa-heart"></i> Charity of the day</h3>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="btn btn-outline-secondary">Outline</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 main">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-inverse card-success">
                        <div class="card-block bg-success">
                            <div class="rotate">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">Number of users</h6>

                            <h1 class="display-1">134</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-inverse card-warning">
                        <div class="card-block bg-warning">
                            <div class="rotate">
                                <i class="fa fa-gift fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">Number of items sent</h6>

                            <h1 class="display-1">36</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
                     style="width: 90%; height:500px">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="the_donald.jpg" style="height: 100%" alt="First slide">

                            <div class="carousel-caption">
                                <h3>We Love the Don</h3>

                                <p>The Trump Train won't be stopped</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="the_donald_1.jpg" style="height: 100%" alt="Second slide">

                            <div class="carousel-caption">
                                <h3>You Can't Stump the Trump</h3>

                                <p>Mexico is the new China</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://placehold.it/1300x500" style="height: 100%" alt="Third slide">

                            <div class="carousel-caption">
                                <h3>Header</h3>

                                <p>Subheader</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.carousel').carousel({
                        interval: 300
                    });
                });
            </script>
            <br>

            <div class="jumbotron">
                <h1 class="display-3">Welcome to Project ThreeOneOhOh</h1>

                <p class="lead">The software application is designed to facilitate the matching of individuals that
                    gives away and
                    accepts certain unused/second-hand goods in Hong Kong.</p>
            </div>
            <div ng-repeat="dex in [1,2,3,4,5,6,7,8,9,10]"
                 class="card card-default card-block" style="background-image: url('damasks_in_ivory.png')">
                <div class="row">
                    <table>
                        <tr>
                            <td rowspan="4"><img src="http://placehold.it/198x145" class="img-responsive img-rounded">
                            </td>
                            <td rowspan="4" style="vertical-align: top; padding-left: 5%; padding-right: 2%;">
                                <p>
                                    <span class="tag tag-pill tag-danger">Trending</span> <span
                                        class="tag tag-pill tag-warning">New listing</span>
                                </p>
                            </td>
                            <td>
                                <h4>Item #{{dex}}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>Donor:　</h5></td>
                            <td><h5><a href="#">bill_liu</a></h5></td>
                        </tr>
                        <tr>
                            <td><h5>Item quantity:　</h5></td>
                            <td><h5>{{(dex+3)*2}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Item description:　</h5></td>
                            <td>AngularJS is used to show items.</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <hr>
                                <a href="#" class="btn pull-lg-left btn-success btn-block"><i
                                        class="fa fa-hand-lizard-o"></i> Take item</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="card-footer">
    <p class="text-lg-center"><i class="fa fa-copyright fa-rotate-180"></i> Copyleft Alexander Poon, 2016. | <a
            href="#">Terms & conditions</a> | <a href="#">Privacy Policy</a></p>
</footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Under construction...</h4>
            </div>
            <div class="modal-body">
                <p>The <strong>Treaty of Constantinople</strong> was a treaty between the Ottoman Empire and the
                    Kingdom of Bulgaria
                    signed on 29 September 1913 after the Second Balkan War at the Ottoman capital
                    Constantinople.</p>

                <p>In the First Balkan War, the coalition of Bulgaria, Serbia, Greece and Montenegro defeated the
                    Ottoman Empire. The Ottomans lost nearly all their European possessions, save for a small
                    territory around the Sea of Marmara by the Treaty of London. The Ottomans however were able to
                    recover Eastern Thrace during the Second Balkan War. Although peace talks between Bulgaria and
                    her other neighbours were held in Bucharest, the Ottoman Empire was not represented there and
                    conducted separate negotiations which led to the Treaty of Constantinople.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary-outline" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div></body></html>