extends ../includes/layout

block more-scripts
    script(src="spinbox/jquery.bootstrap-touchspin.min.js")
    link(rel="stylesheet", href="spinbox\jquery.bootstrap-touchspin.min.css")

block main-content
    include submit_plain.html
    include footer