<div ng-include="'partials/nav_container'"></div>
<div class="container-fluid" id="main" ng-controller="submitCtrl">
    <div class="col-md-12 col-lg-12">
        <div class="card card-block">
            <h4 class="card-title">Submit new item</h4>

            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label" for="itemName">Item name:</label>
                </div>
                <div class="col-md-9">
                    <input ng-model="name" id="itemName" type="text" class="form-control">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label" for="demo_vertical2">Item quantity (max: 10):</label>
                </div>
                <div class="col-md-9">
                    <input ng-init="quantity='1'" ng-model="quantity" id="demo_vertical2" type="text" name="demo_vertical2">
                    <script>
                        $("input[name='demo_vertical2']").TouchSpin({
                            min: 1,
                            max: 10
                        });
                    </script>
                </div>
            </div>
            <br>

            <!--<div class="row">-->
                <!--<form enctype="multipart/form-data">-->
                    <!--<div class="file-input file-input-new">-->
                        <!--<div class="file-preview ">-->
                            <!--<div class="close fileinput-remove">×</div>-->
                            <!--<div class="file-drop-disabled">-->
                                <!--<div class="file-preview-thumbnails">-->
                                <!--</div>-->
                                <!--<div class="clearfix"></div>-->
                                <!--<div class="file-preview-status text-center text-success"></div>-->
                                <!--<div class="kv-fileinput-error file-error-message" style="display: none;"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="kv-upload-progress hide">-->
                            <!--<div class="progress">-->
                                <!--<div class="progress-bar progress-bar-success progress-bar-striped active"-->
                                     <!--role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"-->
                                     <!--style="width:0%;">-->
                                    <!--0%-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="input-group">-->
                            <!--<div tabindex="500" class="form-control file-caption  kv-fileinput-caption">-->
                                <!--<div class="file-caption-name"></div>-->
                            <!--</div>-->

                            <!--<div class="input-group-btn">-->
                                <!--<button type="button" tabindex="500" title="Clear selected files"-->
                                        <!--class="btn btn-default fileinput-remove fileinput-remove-button"><i-->
                                        <!--class="glyphicon glyphicon-trash"></i> <span class="hidden-xs">Remove</span>-->
                                <!--</button>-->
                                <!--<button type="button" tabindex="500" title="Abort ongoing upload"-->
                                        <!--class="btn btn-default hide fileinput-cancel fileinput-cancel-button"><i-->
                                        <!--class="glyphicon glyphicon-ban-circle"></i> <span-->
                                        <!--class="hidden-xs">Cancel</span></button>-->
                                <!--<button type="submit" tabindex="500" title="Upload selected files"-->
                                        <!--class="btn btn-default fileinput-upload fileinput-upload-button"><i-->
                                        <!--class="glyphicon glyphicon-upload"></i> <span class="hidden-xs">Upload</span>-->
                                <!--</button>-->
                                <!--<div tabindex="500" class="btn btn-primary btn-file"><i-->
                                        <!--class="glyphicon glyphicon-folder-open"></i>&nbsp; <span class="hidden-xs">Browse …</span><input-->
                                        <!--id="file-0a" class="file" type="file" multiple="" data-min-file-count="1"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label" for="exampleInputFile">Item image:</label>
                </div>
                <div class="col-md-9">
                    <fieldset class="form-group">
                        <input ng-model="pic" type="file" class="form-control-file" id="exampleInputFile">
                        <small class="text-muted">Supported file types: *.jpg, *.jpeg, *.png, *.tif, *.tiff
                        </small>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label">Item description:</label>
                </div>
                <div class="col-md-9">
                    <strong>HTML is allowed</strong>
                    <textarea ng-model="desc" class="form-control" rows="5"
                              placeholder="Please describe your item accurately avoid ambiguous terms. Dimensions, material, brand, date of manufacture, and colour are often included."></textarea>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label">Neighbourhood:</label>
                </div>
                <div class="col-md-9">
                    <div ng-include="'partials/gmap'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="submit-label" for="hashtags">Tags:</label>
                </div>
                <div class="col-md-9">
                    <fieldset class="form-group">
                        <input ng-model="tags" id="hashtags" class="form-control form-control-lg" type="text" value=""
                               data-role="tagsinput">
                        <!--<script>-->
                        <!--var elt = $('input');-->
                        <!--elt.tagsinput({-->
                        <!--tagClass: function (item) {-->
                        <!--switch (item.priority % 5) {-->
                        <!--case 0   :-->
                        <!--return 'tag tag-danger';-->
                        <!--case 1  :-->
                        <!--return 'tag tag-danger';-->
                        <!--case 2:-->
                        <!--return 'tag tag-success';-->
                        <!--case 3   :-->
                        <!--return 'tag tag-default';-->
                        <!--case 4     :-->
                        <!--return 'tag tag-warning';-->
                        <!--}-->
                        <!--}-->
                        <!--});-->
                        <!--</script>-->
                        <br>
                        <small class="text-muted">Type tag and insert it by pressing <kbd>Enter ↵</kbd>
                        </small>
                    </fieldset>
                </div>
            </div>
            <hr>
            <div align="center">
                <button type="submit" ng-click="submitItem();" class="btn btn-primary" href="#">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Under construction...</h4>
            </div>
            <div class="modal-body">
                <p>The <strong>Treaty of Constantinople</strong> was a treaty between the Ottoman Empire and the
                    Kingdom of Bulgaria
                    signed on 29 September 1913 after the Second Balkan War at the Ottoman capital
                    Constantinople.</p>

                <p>In the First Balkan War, the coalition of Bulgaria, Serbia, Greece and Montenegro defeated the
                    Ottoman Empire. The Ottomans lost nearly all their European possessions, save for a small
                    territory around the Sea of Marmara by the Treaty of London. The Ottomans however were able to
                    recover Eastern Thrace during the Second Balkan War. Although peace talks between Bulgaria and
                    her other neighbours were held in Bucharest, the Ottoman Empire was not represented there and
                    conducted separate negotiations which led to the Treaty of Constantinople.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary-outline" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>