<div ng-include="'partials/nav_container'"></div>
<div class="container-fluid" id="main">
    <div class="col-md-12 col-lg-12">
        <div class="card card-block">
            <h4 class="card-title">Submit new item</h4>

            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label" for="itemName">Item name:</label>
                </div>
                <div class="col-md-9">
                    <input id="itemName" type="text" class="form-control">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label" for="demo_vertical2">Item quantity (max: 10):</label>
                </div>
                <div class="col-md-9">
                    <input id="demo_vertical2" type="text" value="1" name="demo_vertical2">
                    <script>
                        $("input[name='demo_vertical2']").TouchSpin({
                            min: 1,
                            max: 10
                        });
                    </script>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label" for="exampleInputFile">Item image:</label>
                </div>
                <div class="col-md-9">
                    <fieldset class="form-group">
                        <input type="file" class="form-control-file" id="exampleInputFile">
                        <small class="text-muted">Supported file types: *.jpg, *.jpeg, *.png, *.tif, *.tiff
                        </small>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label">Item description:</label>
                </div>
                <div class="col-md-9">
                    <strong>HTML is allowed</strong>
                    <textarea class="form-control" rows="5"
                              placeholder="Please describe your item accurately avoid ambiguous terms. Dimensions, material, brand, date of manufacture, and colour are often included."></textarea>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="required submit-label">Neighbourhood:</label>
                </div>
                <div class="col-md-9">
                    <div ng-include="'partials/gmap'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    <label class="submit-label" for="hashtags">Tags:</label>
                </div>
                <div class="col-md-9">
                    <fieldset class="form-group">
                        <input id="hashtags" class="form-control form-control-lg" type="text" value="" data-role="tagsinput">
                        <!--<script>-->
                            <!--var elt = $('input');-->
                            <!--elt.tagsinput({-->
                                <!--tagClass: function (item) {-->
                                    <!--switch (item.priority % 5) {-->
                                        <!--case 0   :-->
                                            <!--return 'tag tag-danger';-->
                                        <!--case 1  :-->
                                            <!--return 'tag tag-danger';-->
                                        <!--case 2:-->
                                            <!--return 'tag tag-success';-->
                                        <!--case 3   :-->
                                            <!--return 'tag tag-default';-->
                                        <!--case 4     :-->
                                            <!--return 'tag tag-warning';-->
                                    <!--}-->
                                <!--}-->
                            <!--});-->
                        <!--</script>-->
                        <br>
                        <small class="text-muted">Type tag and insert it by pressing <kbd>Enter ↵</kbd>
                        </small>
                    </fieldset>
                </div>
            </div>
            <hr>
            <div align="center">
                <button type="submit" ng-click="submitItem();" class="btn btn-primary" href="#">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Under construction...</h4>
            </div>
            <div class="modal-body">
                <p>The <strong>Treaty of Constantinople</strong> was a treaty between the Ottoman Empire and the
                    Kingdom of Bulgaria
                    signed on 29 September 1913 after the Second Balkan War at the Ottoman capital
                    Constantinople.</p>

                <p>In the First Balkan War, the coalition of Bulgaria, Serbia, Greece and Montenegro defeated the
                    Ottoman Empire. The Ottomans lost nearly all their European possessions, save for a small
                    territory around the Sea of Marmara by the Treaty of London. The Ottomans however were able to
                    recover Eastern Thrace during the Second Balkan War. Although peace talks between Bulgaria and
                    her other neighbours were held in Bucharest, the Ottoman Empire was not represented there and
                    conducted separate negotiations which led to the Treaty of Constantinople.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary-outline" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>