html
    head()
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        link(rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="vendor/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="vendor/toastr/toastr.min.css")
        link(rel="stylesheet", href="css/main_page.css")
        title ThreeOneOhOh Main Page
        meta(charset="utf-8")
        meta(name="description", content="CSCI3100 project.")
        include currentUser
        include scripts
        block more-scripts
    body(ng-app="app", ng-controller="mainCtrl")
        block main-content
